* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#basic-carousel {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#basic-carousel .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    overflow-x: auto;
}

#basic-carousel .photo {
    flex: 0 0 160px;
    height: 160px;
    background-color: black;
    border-radius: 10px;
}